body{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif !important;
    overflow-x: hidden;
    /* overflow-y: ; */
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.xnav-bg{
    color: grey !important;
}

.xlogo-text{
    font-family: 'Passion One', cursive;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

.xgrey>a{
    color: grey !important;
}

.nav-link{
    font-size: .9em;
}

.xgrey>a:hover{
    color: #1d86f7 !important;
}

.header>h2{
    font-family: 'Archivo Black', sans-serif;
    line-height: 1.3em;
}

.xblue{
    color: #1d86f7;
}

.mute{
    margin-top: 2.4em;
}

.mute-p{
    padding-bottom: 2.7em;
    padding-right: 6em;
}

.ximg{
    background-repeat: no-repeat;
    Background-size: cover;
    border-radius: 1.5em;
    margin: 1em;
}

h5{
    font-weight: 800;
}

.about-p{
    padding-left: 0 !important;
}


.bolder{
    font-weight: bolder;
}

.about-header{
    line-height: 1.4em;
    font-weight: bolder;
    color: rgb(16, 16, 110);
}

.about-bg{
    background-color: rgb(251, 252, 247);
    border-radius: 2em;
    align-items: baseline;
    padding-bottom: 98px;
    padding-left: 44px;
    transform: rotate(49deg);
    transform-origin: top left;
}

.mt-img{
    margin-top: -106px;
}

.picc-aside{
    background-color: rgb(251, 252, 247);
    border-radius: 2em;
    padding-bottom: 1.2em;

    position: absolute;
    top: -11em;
    width: 92%;
    height: 126%;
    right: -1em;
}

.about::after{
    z-index: -1;
    top: 102.1%;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 17em rgb(251, 252, 247);
    border-left: solid 18em transparent;
    position: absolute;
    content: "";
}

#menu{
    z-index: 1000;
}